# GCP Configuration
gcp_project_id = "nafas-id-marcellus"
gcp_region     = "asia-southeast1"

# api_image_url  = "asia-southeast1-docker.pkg.dev/nafas-id-marcellus/app-services/service-api:latest"
# sync_image_url = "asia-southeast1-docker.pkg.dev/nafas-id-marcellus/app-services/service-sync:latest"
